body {
    text-align: center;
    overflow: hidden;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.Home img {
    width: 380px;
    height: auto;
    padding-top: calc(10px + 7vh);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}