.nav{
  background-color: white;
  padding-top: 4vh;
  padding-bottom: 4vh;
  text-align: center;
  font-family: 'Arial';
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.Name {
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: calc(15px + 6vmin);
}

.Links {
  text-transform: lowercase;
  font-size: calc(15px + 1vmin);
  color: black;
}
